@tailwind base;
@tailwind components;
@tailwind utilities;

/* Suporte para Safe Area do iPhone */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

@layer components {
  .input-field {
    @apply w-full p-3 bg-gray-50 dark:bg-gray-700 border border-gray-200 dark:border-gray-600 rounded-xl text-gray-900 dark:text-white focus:ring-2 focus:ring-green-500 outline-none transition-all placeholder-gray-400 dark:placeholder-gray-500;
  }
  .label-text {
    @apply block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1;
  }
}